<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si l'URL contient par erreur le chemin du disque dur, on nettoie proprement en redirigeant sur la racine web
    RewriteCond %{REQUEST_URI} ^/C:/xampp/htdocs/glpi/public/(.*)$ [NC]
    RewriteRule ^(.*)$ /%1 [R=301,L]

    # Redirection classique pour l'installateur GLPI
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
